body {
    background-color: rgba(0, 20, 5, 0.87);
    max-width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7%;
    }
h1 {
  font-family: 'Bitter', serif;
  font-family: 'Yeseva One';
  text-align: center;
  color: #dace95;
  font-size: 200px;
  }
  